.header-wrapper {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.nav {
    width: 100%;
    max-width: 1180px;
    height: 60px;
    margin: auto;
}
.logo {
    display: block;
    float: left;
    width: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 48px;
}
.nav-list {
    float: right;
    width: 600px;
}
.nav-list li {
    float: left;
    width: 20%;
}
.nav-list li a {
    display: block;
    padding: 20px 0;
    font-size: 16px;
    line-height: 20px;
    color: #555;
    cursor: pointer;
}
.nav-list li a:hover {
    color: #337ab7;
}